<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Curriculo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a42a254279.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Curriculo" asp-action="Index">Curriculo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <div>
                        @if (ViewBag.Idioma == "I")
                        {

                            <select class="nav-link" name="Language" onchange="location = this.value;">

                                @if (this.Context.Request.Path != "/")
                                {
                                    <option value="Language?language=P&lastPage=edit" style="background-image: url(~/wwwroot/Images/brazil-flag.svg)">
                                        Portuguese
                                    </option>
                                    <option value="Language?language=I&lastPage=edit" selected style="background-image: url(~/wwwroot/Images/united-states-of-america-flag.svg)">
                                        English
                                    </option>
                                }
                                else
                                {
                                    <option value="Curriculo/Language?language=P&lastPage=Main" style="background-image: url(~/wwwroot/Images/brazil-flag.svg)">
                                        Portuguese
                                    </option>
                                    <option value="Curriculo/Language?language=I&lastPage=Main" selected style="background-image: url(~/wwwroot/Images/united-states-of-america-flag.svg)">
                                        English
                                    </option>
                                }

                            </select>

                        }
                        else
                        {
                            @if (this.Context.Request.Path != "/")
                            {
                                <select class="nav-link" name="Idioma" onchange="location = this.value;">
                                    <option value="Language?language=P" selected>
                                        Portugues
                                    </option>
                                    <option value="Language?language=I">
                                        Inglês
                                    </option>
                                </select>
                            }
                            else
                            {
                                <select class="nav-link" name="Idioma" onchange="location = this.value;">
                                    <option value="Curriculo/Language?language=P" selected>
                                        Portugues
                                    </option>
                                    <option value="Curriculo/Language?language=I">
                                        Inglês
                                    </option>
                                </select>
                            }

                        }
                    </div>

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">

                            @if (ViewBag.Idioma == "I")
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Curriculo" asp-action="Sobre">About</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Curriculo" asp-action="Sobre">Sobre</a>

                            }
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Curriculo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
