@{
    Layout = null;
}

<div >
    <div style="margin-right:20px;  width: 25%; float:left; background:gray; height:100% ">
        <img src="~/Images/Avatar.png" class="ImagemRedonda" />
        <h2>Nome do fulano</h2>
        <h2>CPF</h2>
        <h2>Endereço</h2>
        <h2>Telefone</h2>
        <h2>email</h2>
        <h2>Cargo Pretendido</h2>
        <h2>Instagram</h2>
        <h2>Linkdin</h2>
        <h2>Facebook</h2>
    </div>
    <div style="margin-left: 20px; width: 55%; float: left; background: yellow; ">
        <div class="SobreMIM">
            <h2>Sobre mim</h2>
            <p>
                Isso aqui é só um espaço para escrever sobre o candidato, alias eu n faço ideia do que escrever aqui
                e nem exatamento do tamanho que será necessário mas sei que vai ser algum texto
            </p>
        </div>
        <div Id="Ed1" class="Educacao">
            <h2>Instituição 1</h2>
            <h2>Curso 1</h2>
            <h2>Preiodo1</h2>
        </div>
        <div Id="Ed2" class="Educacao">
            <h2>Instituição 1</h2>
            <h2>Curso 1</h2>
            <h2>Preiodo1</h2>
        </div>
        <div Id="Ed2" class="Educacao">
            <h2>Instituição 1</h2>
            <h2>Curso 1</h2>
            <h2>Preiodo1</h2>
        </div>
        <div Id="Ed2" class="Educacao">
            <h2>Instituição 1</h2>
            <h2>Curso 1</h2>
            <h2>Preiodo1</h2>
        </div>
        <div Id="Ed2" class="Educacao">
            <h2>Instituição 1</h2>
            <h2>Curso 1</h2>
            <h2>Preiodo1</h2>
        </div>
        <div Id="Ed2" class="Educacao">
            <h2>Instituição 1</h2>
            <h2>Curso 1</h2>
            <h2>Preiodo1</h2>
        </div>
    </div>
</div>

