@page
@model TrabalhoCurriculo.Views.Curriculo.SobreModel
@{
}
<html>

    <head>

    </head>


    <body>
        <h3>Trabalho desenvolvido por:</h3>
        <table>
            <tr>
                <th>Nome</th>
                <th>RA</th>
            </tr>
            <tr>
                <td>Rodrigo Emiliano </td>
                <td>081190004</td>
            </tr>
            <tr>
                <td>Yago Caetano</td>
                <td>081190027</td>
            </tr>
        </table>
    </body>

</html>